.h-margin--top {
    margin-top: calc(2*var(--grid-spacing));
}
.h-margin--bottom {
    margin-bottom: calc(2*var(--grid-spacing));
}
.h-center {
    text-align: center;
}
.h-right {
    text-align: right;
}
.h-left {
    text-align: left;
}

.h-small-block {
    display: block;
    line-height: 1;
}
